<h2>Hi!</h2>

<h3> See how close you are to transit in LA. </h3>

<form action='/results'>
	<h1> Enter your address: </h1>
	<input type="text" name="location"/>
	<input type="submit" value="Submit">
</form>
